<div class="container ">
  <div class="card mx-auto" style="width: 30rem;">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="card-img-top" alt="chain">
    <div class="card-body">
      <form action="POST" class="d-flex flex-column">
        <label for="originalURL" class="form-label">Original URL</label>
        <input type="text" placeholder="Your link..." id="originalURL">
        <button type="submit" class="btn btn-primary">Shorten!</button>
      </form>
    </div>
  </div>
</div>
